<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dharkanenquiry.vasudhaenquiry">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.location.gps"/>


    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.dharkanenquiry.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dharkanenquiry.Activity.Location_Tracker_Activity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.dharkanenquiry.Activity.SalesPersonList_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dharkanenquiry.Activity.SearchEnquiry_Activity"
            android:screenOrientation="portrait" />
        <activity android:name="com.dharkanenquiry.Activity.ViewPDF" />
        <activity android:name="com.dharkanenquiry.Activity.Add_New_Customer_Activity" />
        <activity android:name="com.dharkanenquiry.Activity.EditCustomer_details_Activity" />
        <activity android:name="com.dharkanenquiry.Activity.Customer_Details_Activity" />
        <activity
            android:name="com.dharkanenquiry.Activity.Customerlist_Activiy"
            android:screenOrientation="portrait" />
        <activity android:name="com.dharkanenquiry.Activity.Add_ActionEnquiries_Activity" />
        <activity
            android:name="com.dharkanenquiry.Activity.Add_NewEnquiry_Acitivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.dharkanenquiry.Activity.Notification_Activity" />
        <activity
            android:name="com.dharkanenquiry.Activity.EditEnquiry_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dharkanenquiry.Activity.Enquiry_Activity_Test"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dharkanenquiry.Activity.UserProfile_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dharkanenquiry.Activity.SplashScreen_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.dharkanenquiry.Activity.Add_NewTask_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dharkanenquiry.Activity.Task_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dharkanenquiry.Activity.Add_NewEnquiryExisting_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dharkanenquiry.Activity.Enquiry_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dharkanenquiry.Activity.Login_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dharkanenquiry.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service
            android:name="com.dharkanenquiry.service.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="com.dharkanenquiry.service.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD68OW32Yifl2fuWmQNSWHNCM3pW5PxQSA" />

        <service
            android:name="com.dharkanenquiry.service.BackgroundLocationService"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />

    </application>

</manifest>